
Jogo3deu/Assets/shadermar/Assets/aguashader.shadergraph.meta
Jogo3deu/Assets/Sprite/ilha.blend.meta
Jogo3deu/Assets/Sprite/ilha.fbx.meta
Jogo3deu/Assets/Sprite/New Duck (1).blend.meta
Jogo3deu/Library/ArtifactDB
Jogo3deu/Library/Bee/2000b0aE.dag.json
Jogo3deu/Library/Bee/fullprofile.json
Jogo3deu/Library/EditorInstance.json
Jogo3deu/Library/PackageManager/ProjectCache
Jogo3deu/Library/Search/transactions.db
Jogo3deu/Library/ShaderCache.db
Jogo3deu/Library/SourceAssetDB
Jogo3deu/Logs/AssetImportWorker0.log
Jogo3deu/Logs/AssetImportWorker1.log
Jogo3deu/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Jogo3deu/Temp/compute-shader-stripping.json
Jogo3deu/Temp/FSTimeGet-01175852f02fb3d4fb636349e1e05715
Jogo3deu/Temp/FSTimeGet-a3e922496157ecb4697cf33be21cf9bf
Jogo3deu/Temp/FSTimeGet-fda8a8f96c6299a409a7d9b8c6381a1b
Jogo3deu/Temp/shader-stripping.json
Jogo3deu/Temp/StagingArea/Data/Managed/EditorToUnityLinkerData.json
Jogo3deu/Temp/UnityLockfile
Jogo3deu/Assets/shadermar/Assets/aguashader.shadergraph.meta
Jogo3deu/Assets/Sprite/ilha.blend.meta
Jogo3deu/Assets/Sprite/ilha.fbx.meta
Jogo3deu/Assets/Sprite/New Duck (1).blend.meta
Jogo3deu/Library/ArtifactDB
Jogo3deu/Library/Bee/2000b0aE.dag.json
Jogo3deu/Library/Bee/fullprofile.json
Jogo3deu/Library/EditorInstance.json
Jogo3deu/Library/PackageManager/ProjectCache
Jogo3deu/Library/Search/transactions.db
Jogo3deu/Library/ShaderCache.db
Jogo3deu/Library/SourceAssetDB
Jogo3deu/Logs/AssetImportWorker0.log
Jogo3deu/Logs/AssetImportWorker1.log
Jogo3deu/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Jogo3deu/Temp/compute-shader-stripping.json
Jogo3deu/Temp/shader-stripping.json
Jogo3deu/Temp/StagingArea/Data/Managed/EditorToUnityLinkerData.json
